/*  d3lineExtended.css
    Dataprocessing pset6
    Lysanne van Beek
    10544259    */
    
body { font: 12px Arial;}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
path {
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }
.datapoint:hover{
    fill: steelblue;
}
.xlabel, .ylabel {
    font-size:13px;
    font-weight:bold;
}
.graphtitle {
    font-weight:bold;
    font-size:18px;
